<script>
	var _lien_politique = "https://www.yamaha-nancy.com/mentions-legales";
</script>
<!doctype html>

<html lang="fr">
	<head>
		<script type="application/ld+json">
			{"@context":"https:\/\/schema.org\/","@type":"Article","headline":"PALMI NEW BIKE votre concessionnaire YAMAHA \u00e0 NANCY (54)","datePublished":"2020-11-04 16:47:31","image":"https:\/\/www.yamaha-nancy.com\/nas\/commun\/www_sites\/682a03f4cd9e0c79b8a1f0e34266b9651ad9821c\/articles\/zz.jpg","publisher":{"@type":"MotorcycleDealer","name":"PALMI NEW BIKE","address":{"@type":"PostalAddress","addressLocality":"NANCY, France","postalCode":"54000","streetAddress":"3 IMPASSE MARCEL BROT "},"geo":{"@type":"GeoCoordinates","latitude":"48.682852000","longitude":"6.2022200000"},"brand":["YAMAHA"],"email":"occasion@yamaha-nancy.com","logo":"https:\/\/www.yamaha-nancy.com\/nas\/commun\/concessions\/3BA9254B34EB24D9D0449A8540178E542FBF9D98\/logo-PALMI-NEW-BIKE.jpg","telephone":"03 83 30 07 89","url":"https:\/\/www.yamaha-nancy.com","image":"https:\/\/www.yamaha-nancy.com\/nas\/commun\/www_sites\/682a03f4cd9e0c79b8a1f0e34266b9651ad9821c\/articles\/zz.jpg"}}
		</script>
		<title>PALMI NEW BIKE votre concessionnaire YAMAHA à NANCY (54)</title>
		<meta name="description" content="PALMI NEW BIKE est votre concessionnaire moto exclusif Yamaha à NANCY dans Meurthe-et-Moselle (54) en région Lorraine. Nous vous proposons des motos neuves et des motos d'occasion, quads, scooters, pièces moto, accessoires moto, équipement"/>
		<meta name="keywords" content="PALMI NEW BIKE,Yamaha NANCY,Yamaha 54,Yamaha Lorraine,Yamaha Meurthe-et-Moselle,Yamaha occasion,moto cross occasion,enduro,scooter yama"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

		<link rel="icon" type="image/x-icon" href="http://localhost/htdocs/shop_moto/shop_moto/public/index.php/" sizes="16x16">
		<link rel="stylesheet" href="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/css/fancybox-min.css"/>
		<link rel="stylesheet" href="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/css/light-slider.css"/>
		<link rel="stylesheet" href="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/css/select2.css">
		<link type="text/css" rel="stylesheet" href="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/css/icomoon-v1-0.css" media="all"/>
		<link href="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/css/bootstrap-min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/css/owl-carousel-min.css">
		<link rel="stylesheet" href="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/css/owl-theme-default-min.css">
		<link type="text/css" rel="stylesheet" href="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/css/style.css" media="all"/>

		<link rel="stylesheet" href="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/css/custom.css"/>
		<link type="text/css" rel="stylesheet" href="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/css/media.css" media="all"/>

		<link href="https://fonts.googleapis.com/css?family=Play:400,700|Ubuntu:400,500,700&display=swap" rel="stylesheet">

		<script type="text/javascript" src="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/js/jquery-3-4-1-min.js"></script>
		<script type="text/javascript" src="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/js/fancybox-min.js"></script>
		<script type="text/javascript" src="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/js/light-slider.js"></script>
		<script type="text/javascript" src="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/js/owl-carousel.js"></script>
		<script type="text/javascript" src="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/js/functions.js"></script>
		<script src="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/js/kit-fontawesome.js"></script>
		<script type="text/javascript" src="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/js/select2.js"></script>
		<script src="https://reseau.motoconcess.fr/templates/js/cookies.js"></script>
		<!-- Matomo -->
		<script type="text/javascript">
			var _paq = window._paq || [];
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function () {
var u = "https://stats.motoconcess.fr/";
_paq.push([
'setTrackerUrl',
u + 'matomo.php'
]);
_paq.push(['setSiteId', '376']);
var d = document,
g = d.createElement('script'),
s = d.getElementsByTagName('script')[0];
g.type = 'text/javascript';
g.async = true;
g.defer = true;
g.src = u + 'matomo.js';
s.parentNode.insertBefore(g, s);
})();
		</script>
		<!-- End Matomo Code -->

	</head>
	<body>
		<header id="header-concessionnaire">
			<div class="nav-top">
				<nav class="nav-header-top">
					<ul>
						<li>
							<a href="https://www.yamaha-nancy.com/contact" title="Contact" class="horaires btn-sidebar-detail contact-header">
								<i class="fas fa-comment-dots fa-space"></i>
								Contact
							</a>
						</li>
						<li>
							<div class="horaires btn-sidebar-detail contact-header">
								<i class="far fa-clock fa-space"></i>
								Horaires
								<div class="submenu-contact">
									<ul>
										<li class="horaires-li">
											<h2 class="concess-horaire">PALMI NEW BIKE</h2>
											Du mardi au vendredi :
											<br/>
											De 9h00 à 12h00 et de 14h00 à 19h00
											<br/>
											<br/>
											Le samedi<br/>
											De 9h00 à 12h00 et de 14h00 à 18h00
										</li>

									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="https://www.google.fr/maps/?q=PALMI NEW BIKE,3 IMPASSE MARCEL BROT 54000 NANCY" target="_blank">
								<div class="plan-acces btn-sidebar-detail contact-header">
									<i class="fas fa-map-marker-alt fa-space"></i>
									Plan d’accès
								</div>
							</a>
						</li>
						<li>
							<div class="newsletter btn-sidebar-detail">
								<a href="https://www.yamaha-nancy.com/newsletter">
									<i class="far fa-newspaper fa-space"></i>
									Newsletter</a>
							</div>
						</li>
						<li>
							<div class="RS">

								<a href="https://www.facebook.com/Yamaha-Nancy-Palmi-New-Bike-216249788437480/?fref=ts" title="Facebook" class="facebook-header-top" target="_blank">
									<i class="fab fa-facebook-f"></i>
								</a>

								<a href="https://twitter.com/YamahaMotorFr" title="Twitter" class="twitter-header-top" target="_blank">
									<i class="fab fa-twitter"></i>
								</a>

								<a href="https://www.youtube.com/user/YamahaMotorFr" title="Youtube" class="youtube-header-top" target="_blank">
									<i class="fab fa-youtube"></i>
								</a>

								<a href="https://www.instagram.com/yamahamotorfr/" title="Youtube" class="instagram-header-top" target="_blank">
									<i class="fab fa-instagram"></i>
								</a>


							</div>
						</li>
					</ul>
				</nav>
			</div>

			<div id="Sidebar-header" class="sidebar">
				<div class="closebtn">×</div>


				<div class="newsletter-detail">
					<h3>Je souhaite m'abonner à la Newsletter de PALMI NEW BIKE</h3>
					<form class="form-news" action="" method="post">
						<input class="inputEmail" name="email" placeholder="Adresse mail" type="email">
						<button class="button-submit" type="submit" value="Valider">Valider</button>
						<div class="legal-message">
							En vous abonnant, vous autorisez PALMI NEW BIKE à utiliser votre email et vos cookies afin de vous proposer des offres adaptées. Seuls nos services habilités et nos prestataires d’emailing ont accès à vos données.
						</div>
					</form>
				</div>
			</div>

			<div id="nav-header" class="fixed-start">
				<div class="content-header">
					<div class="logo-header">
						<a href="http://localhost/htdocs/shop_moto/shop_moto/public/index.php/" title="PALMI NEW BIKE - Accueil" class="logo-yamaha">
							<img src="https://www.yamaha-nancy.com/nas/commun/www_themes/1574bddb75c78a6fd2251d61e2993b5146201319/images/logo-yamaha.png" alt="Yamaha"/>
						</a>
						<span class="titre-nom-site">
							<a id="nomSite" href="https://www.yamaha-nancy.com/" title="PALMI NEW BIKE - Accueil">
								SHOP MOTO
							</a>
						</span>
					</div>
					<div class="hamburger hamburger--spin-r">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>

					<nav class="menu-header d-none d-sm-block d-sm-none d-md-block" id="menu-header">
						<ul class="menu-nav-bar">
							<li class=" menu-item main-item-li">
								<div class="main-item" href="http://localhost/htdocs/shop_moto/shop_moto/public/index.php/vehicules">Véhicules</div>
							</li>

						
						
							<li class=" main-item-li menu-item ">
								<a class=" main-item" href="http://localhost/htdocs/shop_moto/shop_moto/public/index.php/actualites" target="_self">
									Actualités
								</a>
							</li>
							<li class=" main-item-li menu-item ">
								<a class=" main-item" href="http://localhost/htdocs/shop_moto/shop_moto/public/index.php/magasin" target="_self">
									Magasin
								</a>
							</li>
						
											<li class="d-block d-sm-none">
								<a href="https://www.yamaha-nancy.com/newsletter">Newsletter</a>
							</li>


						</ul>
					</nav>
					<nav class="menu-header d-block d-sm-none d-none d-sm-block d-md-none menu-responsive">
						<ul>
							<li>
								<a href="https://www.yamaha-nancy.com/gamme">Gamme Yamaha</a>
							</li>
							<li>
								<a href="https://www.yamaha-nancy.com/occasion">Occasions</a>
							</li>

							<li class="">
								<a href="https://www.yamaha-nancy.com/demande-d-essai" target="_self">
									Essai
								</a>
							</li>
							<li class="">
								<a href="https://www.yamaha-nancy.com/locations" target="_self">
									Locations
								</a>
							</li>
							<li class="">
								<a href="https://www.yamaha-nancy.com/occasion" target="_self">
									Occasions
								</a>
							</li>
							<li class="">
								<a href="https://www.yamaha-nancy.com/actualites" target="_self">
									Actualités
								</a>
							</li>
							<li class="">
								<a href="https://www.yamaha-nancy.com/magasin" target="_self">
									Magasin
								</a>
							</li>
							<li class="">
								<a href="https://www.yamaha-nancy.com/club-wmax" target="_self">
									Club Vmax
								</a>
							</li>
							<li class="">
								<a href="https://www.yamaha-nancy.com/partenaires" target="_self">
									Partenaires
								</a>
							</li>
							<li class="d-block d-sm-none">
								<a href="https://www.yamaha-nancy.com/contact">Contact</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
	</body>
</html></section></div><div id="fb-root"></div><p id="back-top"><a href="#top">
<span>&nbsp;</span></a></p><footer><div class="entry-footer">

<div class="col-footer">
	<div class="btn-contact-footer">
		<h4>Besoin d'un renseignement ?</h4>
		<div class="contact-footer horaires btn-sidebar-detail" data-toggle="collapse" href="#collapse-footer" role="button" aria-expanded="false" aria-controls="collapse-footer" id="contactezNous">
			<i class="fas fa-comment-dots fa-3x fa-space vertical-align"></i>
			Contactez-nous

		</div>


	</div>
	<div class="RS-footer">

		<h4>Retrouvez-nous sur :</h4>
		<a href="https://www.facebook.com/Yamaha-Nancy-Palmi-New-Bike-216249788437480/?fref=ts" title="Facebook" class="facebook-header-top" target="_blank">
			<i class="fab fa-facebook-f"></i>
		</a>
		<a href="https://twitter.com/YamahaMotorFr" title="Twitter" class="twitter-header-top" target="_blank">
			<i class="fab fa-twitter"></i>
		</a>
		<a href="https://www.youtube.com/user/YamahaMotorFr" title="Youtube" class="youtube-header-top" target="_blank">
			<i class="fab fa-youtube"></i>
		</a>
		<a href="https://www.instagram.com/yamahamotorfr/" title="Instagram" class="instagram-header-top" target="_blank">
			<i class="fab fa-instagram"></i>
		</a>
	</div>
</div></div><div class="collapse collapse-presentation " id="collapse-footer">
<div class="cached-contact one-contact">
	<div class="bloc-logo-magasin">
		<img src="https://www.yamaha-nancy.com/nas/commun/concessions/3BA9254B34EB24D9D0449A8540178E542FBF9D98//logo-marque-0-palmi-new-bike-104646-185x46.jpg" class="img-responsive" alt="PALMI NEW BIKE"/>
	</div>
	<div class="bloc-magasin-footer">
		<h3>SHOP MOTO</h3>
		<div class="adresse-magasin-footer">
			3 Impasse Marcel Brot
			<br><span class="ville-footer">54000 NANCY</span>
		</div>
		<br>
		<div class="tel-magasin-footer">
			<i class="fas fa-phone-alt" style="font-size: 15px"></i>
			03 83 30 07 89
		</div>
		<!-- /.tel-magasin-footer -->
		<div class="mail-magasin-footer">
			<i class="fas fa-envelope"></i>
			<a href="https://www.yamaha-nancy.com/contact">Nous contacter</a>
		</div>
		<!-- /.tel-magasin-footer -->
		<div class="tel-magasin-footer">
			<i class="fas fa-clock"></i>
			<a href="https://www.yamaha-nancy.com/contact#horaires">Horaires</a>
		</div><br>
		<!-- /.tel-magasin-footer -->
	</div>


</div></div><div id="bottom-area"></div><div class="ecolo">
Pensez à covoiturer #SeDéplacerMoinsPolluer</div><nav class="nav-footer ">
<ul>
	<li>
		<a href="https://www.yamaha-nancy.com/gamme" title="Modèles">
			Modèles
		</a>
	</li>
	<li>
		<a href="https://www.yamaha-nancy.com/occasion" title="Occasions">
			Occasions
		</a>
	</li>
	<li>
		<a href="https://www.yamaha-nancy.com/actualites" title="Actualités">
			Actualités
		</a>
	</li>
	<li>
		<a href="https://www.yamaha-nancy.com/demande-d-essai" title="Réservez un essai">
			Réservez un essai
		</a>
	</li>
	<li>
		<!--<a title="Contact"  data-toggle="collapse" href="#collapse-footer" role="button" aria-expanded="false" aria-controls="collapse-footer">-->
		<a title="Contact" href="https://www.yamaha-nancy.com/contact">
			Contact
		</a>
	</li>


	<li>
		<a href="https://www.yamaha-nancy.com/partenaires" title="Partenaires">
			Partenaires
		</a>
	</li>
	<li>
		<a href="https://www.yamaha-nancy.com/mentions-legales" title="Mentions légales">
			Mentions légales
		</a>
	</li>
</ul></nav><p class="copyright-yamaha">
©2022 YAMAHA  
                                -
<a href="https://www.yamaha-nancy.com/gamme">Motos Neuves</a>
-
<a href="https://www.yamaha-nancy.com/gamme?Categorie=Scooter">Scooters</a>
-
<a href="https://www.yamaha-nancy.com/gamme?Categorie=Sportive">Sportives</a>
-
<a href="https://www.yamaha-nancy.com/gamme?Categorie=Routière">Routières</a>
-
<a href="https://www.yamaha-nancy.com/gamme?Categorie=Roadster">Roadsters</a>
-
<a href="https://www.yamaha-nancy.com/gamme?Categorie=Cross">Cross</a>
-
<a href="https://www.yamaha-nancy.com/gamme?Categorie=Quads">Quads</a>
-
<a href="https://www.yamaha-nancy.com/gamme?Categorie=Trail">Trail</a>
-
<a href="https://account.yamaha-occasion.com/" target="__blank">Accès pro</a></p></footer><script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0&appId=819624071393289&autoLogAppEvents=1"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script>$(document).ready(function () {
var home = $(".owl-one");
home.owlCarousel({
items: 1,
dot: false,
autoplay: true,
loop: true,
autoplayTimeout: 5000,
autoplayHoverPause: true,
dotsSpeed: 700,
navSpeed: 700,
fluidSpeed: 700,
smartSpeed: 700,
video: true,
singleItem: true


});
var timer;
home.on('changed.owl.carousel', function (event) {
if (typeof timer !== 'undefined') {
clearTimeout(timer);
}

$('.iframe-video').remove();
});

home.on('play.owl.video', function (event) {
var maxDuration = $(".owl-item.active").attr("data-duration");
if (maxDuration > 1) {
timer = setTimeout(function () {
home.trigger('next.owl.carousel');
}, maxDuration * 1000 + 5000);
}
// home.trigger('next.owl.carousel');
});

var owl = $(".owl-two");
owl.owlCarousel({
items: 1,
dot: true,
autoplay: true,
loop: true,
autoplayTimeout: 5000,
autoplayHoverPause: true,
dotsSpeed: 700,
navSpeed: 700,
fluidSpeed: 700,
smartSpeed: 700
});
});</script><script>// hide #back-top first
$("#back-top").hide();

// fade in #back-top
$(function () {
$(window).scroll(function () {
if ($(this).scrollTop() > 400) {
$('#back-top').fadeIn();
} else {
$('#back-top').fadeOut();
}
});

// scroll body to 0px on click
$('#back-top a').click(function () {
$('body,html').animate({
scrollTop: 0
}, 800);
return false;
});
$('#back-top2').click(function () {
$('body,html').animate({
scrollTop: 0
}, 800);
return false;
});

$('#back-top3').click(function () {
$('body,html').animate({
scrollTop: 0
}, 800);
return false;
});
$("#back-top0").click(function () {
$("html, body").animate({
scrollTop: 0
}, 500);
return false;
});

});
var _ajax_url = 'https://www.yamaha-nancy.com/Ajax/';</script><!--<script type="text/javascript" src="js/cookiechoices.js"></script>
		        <script>document.addEventListener('DOMContentLoaded', function(event){cookieChoices.showCookieConsentBar('Ce site utilise des cookies pour vous offrir le meilleur service. En poursuivant votre navigation, vous acceptez l’utilisation des cookies.', 'J’accepte', 'En savoir plus', 'https://www.test.fr');});
		        </script>--></body></html>
